#unity-fullscreen-button {
    margin-top: -6.6rem;
}
.MessageModal {
    .bx--modal-container {
        height: 126px;
        width: 320px;
        // margin-left: -25rem;
        margin-right: 20rem;
        margin-top: -5rem;
      }
      .bx--modal-content {
        width: 320px;

      }
      .unityMessage {
          font-size: 20px;
          font-family: ' IBMPlexSans';
          margin-bottom: 14px;
      }
      .message {
          font-family: 'IBMPlexSans';
      }

}